<hr/>
   <footer>
        <p>This is a community app developed at <a href="http://ale2012.alenetwork.eu">ALE2012</a> in Barcelona (Spain)</p>
        <p>Hosting is sponsord by <a href="http://blog.codecentric.de/en">codecentric</a></p>
   </footer>
 
    <script type="text/JavaScript">
		<!--
		function timedRefresh(timeoutPeriod) {
			setTimeout("location.reload(true);",timeoutPeriod);
		}
		//   -->
		</script>
    
    <script src="<%= request.getContextPath() %>/assets/js/jquery.js"></script>  
    <script src="<%= request.getContextPath() %>/assets/js/bootstrap.js"></script>
  </body>
</html>