<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
<!--
  <servlet>
  	<servlet-name>AleAppServlet</servlet-name>
  	<display-name>AleAppServlet</display-name>
  	<description></description>
  	<servlet-class>org.ale.app.AleAppServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AleAppServlet</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
-->

	<servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>org.ale.app.SigninServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>org.ale.app.CallbackServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>org.ale.app.LogoutServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post</servlet-name>
        <servlet-class>org.ale.app.PostServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
    <error-page>
        <exception-type>twitter4j.TwitterException</exception-type>
        <location>/error.jsp</location>
    </error-page>
 
</web-app>